<%= form_for @status_change, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :from_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :from_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ticket_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :ticket_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                status_changes_path, :class => 'btn' %>
  </div>
<% end %>
