<div class="row-fluid">
  <div class="span5 offset1">
    <p>Tickets currently available on</p>
    <h1 class="stat"><%= pluralize(@avail_num, "date") %></h1>
    <br />
    <p>Tickets last available</p>
    <% if @avail_num > 0 %>
    <h1 class="stat">Now</h1>
    <% else %>
    <h1 class="stat">
      <% if @last_avail_day_ago > 0 %>
        <%= @last_avail_day_ago %> <%= pluralize(@last_avail_day_ago, "day") %>
      <% end %>
      
      <% if @last_avail_hr_ago > 0 %>
        <%= @last_avail_hr_ago %> <%= pluralize(@last_avail_hr_ago, "hour") %>
      <% end %>
      
      <%= "Less than 1 hour" if @last_avail_day_ago == 0 && @last_avail_hr_ago == 0 %>
      
      ago</h1>
    <% end %>
    
    <br />
    <p>Tickets are available on the average of</p>
    <h1 class="stat">
      <% if @avg_avail_day > 0 %>
        <%= pluralize(@avg_avail_day, "day") %>
      <% end %>
      <% if @avg_avail_hr > 0 %>
        <%= pluralize(@avg_avail_hr, "hour") %>
      <% end %>
    </h1>
    <p>or</p>
    <h1 class="stat"><%= @avg_avail_weekday %> working days</h1>
    <br />
  </div>
  <div class="span5" id="formwrapper">

  <%= form_tag("/login", :method => "post", :remote => "true", :id => "loginform") do %>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %><br />
    <%= submit_tag("Login/Sign up", :class=> "btn btn-primary") %>
  <% end %>
  
  
    
</div>
<div class="span1"></div>
</div>
<script>
$(document).ready(function(){ 
  
  $('#formwrapper').on('click', '#more-date-btn', function(event){
      $('#dpwrapper').append('<div class="control-group"><div class="controls"><input type="text" class="span4 dp date-tracked" id="datetracked_' + ($('.dp').length) + '" name="datetracked_' + ($('.dp').length) + '"> <i class="icon-remove-sign icon-large rmvbtn"></i></div></div>');
      $('.dp').datepicker();
  });


  $('#formwrapper').on('click', '.rmvbtn', function(event){
    $(this).parent().parent().remove();

    $('.dp').each(function(i, dpfield){
      console.log(dpfield);
      console.log(i);
      dpfield.id = 'datetracked_' + i;
      dpfield.name = 'datetracked_' + i;
    })
  });

  $('#formwrapper').on('click', 'input:radio', function(event){
      if ($(':checked').val() === "trackAll") {
        $('.dp').attr('disabled', 'disabled');
        $('#more-date-btn').attr('disabled', 'disabled');
      }
      else if ($(':checked').val() === "trackSome") {
        $('.dp').removeAttr('disabled');
        $('#more-date-btn').removeAttr('disabled');
      }
      else if ($(':checked').val() === "trackNone") {
        $('.dp').attr('disabled', 'disabled');
        $('#more-date-btn').attr('disabled', 'disabled');
      }
  });
});
</script>