<div class="row-fluid">
  <div class="span5 offset1">
    <p>Tickets currently available on</p>
    <h1 class="stat"><%= pluralize(@avail_num, "date") %></h1>
    <br />
    <p>Tickets last available</p>
    <% if @avail_num > 0 %>
    <h1 class="stat">Now</h1>
    <% else %>
    <h1 class="stat">
      <% if @last_avail_day_ago > 0 %>
        <%= @last_avail_day_ago %> <%= pluralize(@last_avail_day_ago, "day") %>
      <% end %>
      
      <% if @last_avail_hr_ago > 0 %>
        <%= @last_avail_hr_ago %> <%= pluralize(@last_avail_hr_ago, "hour") %>
      <% end %>
      
      <%= "Less than 1 hour" if @last_avail_day_ago == 0 && @last_avail_hr_ago == 0 %>
      
      ago</h1>
    <% end %>
    
    <br />
    <p>Tickets are available on the average of</p>
    <h1 class="stat">
      <% if @avg_avail_day > 0 %>
        <%= pluralize(@avg_avail_day, "day") %>
      <% end %>
      <% if @avg_avail_hr > 0 %>
        <%= pluralize(@avg_avail_hr, "hour") %>
      <% end %>
    </h1>
    <p>or</p>
    <h1 class="stat"><%= @avg_avail_weekday %> working days</h1>
    <br />
  </div>
  <div class="span5">
    <form>
      <fieldset>
        <legend>Login</legend>
        <label>
          Email
          <a href="#" rel="popover" id="why-email" data-placement="right" data-content="You will only receive notification for the date you select in the next step. I will not send you spam or newsletter of any kind. Your email will <strong>not</strong>
          C be sold to a third-party." data-original-title="What your email will be used for">?
        </a>
      </label>
      <input type="text" placeholder="Type something..">
      <br />
      <br />
      <button type="submit" class="btn btn-primary">Login/Sign up</button>
    </fieldset>
  </form>
  
  <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="trackAll" checked>
    Track all ticket dates
  </label>
  <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="trackSome">
    Track only the following dates:
    <div id="dpwrapper">
      <input type="text" class="span4 dp date-tracked" disabled> <i class="icon-remove-sign icon-large rmvbtn"></i>
      <br />
    </div>
    <a class="btn" id="more-date-btn" disabled> <i class="icon-plus"></i>
      Add more date
    </a>
  </label>
  <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="trackNone">
    Don't track any ticket date
  </label><br />
  <a class="btn btn-primary">Save</a>

</div>
<div class="span1"></div>
</div>
<script>

// Initialize datepicker
$('.dp').datepicker();

$('#more-date-btn').click(function() {
  $('#dpwrapper').append('<input type="text" class="span4 dp date-tracked"> <i class="icon-remove-sign icon-large rmvbtn"></i><br />');
  $('.dp').datepicker();
});

$('#dpwrapper').on('click', '.rmvbtn', function(event){
  $(this).next().remove();
  $(this).prev().remove();
  $(this).remove();
} );

$("input:radio").click(function() {
  if ($(':checked').val() === "trackAll") {
    $('.dp').attr('disabled', 'disabled');
    $('#more-date-btn').attr('disabled', 'disabled');
  }
  else if ($(':checked').val() === "trackSome") {
    $('.dp').removeAttr('disabled');
    $('#more-date-btn').removeAttr('disabled');
  }
  else if ($(':checked').val() === "trackNone") {
    $('.dp').attr('disabled', 'disabled');
    $('#more-date-btn').attr('disabled', 'disabled');
  }
});


</script>